{{>licenseInfo}}
{{#operations}}

#include "{{classname}}.h"

#include "KnetikCloudClient.h"
#include "KnetikCloudJson.h"

#include <Runtime/Json/Public/Serialization/JsonReader.h>
#include <Runtime/Json/Public/Serialization/JsonSerializer.h>


namespace KnetikCloud
{
	{{classname}}::{{classname}}()
	{
		{{#operation}}
		b{{operationId}}IsComplete = false;
		b{{operationId}}WasSuccessful = false;
		{{#returnType}}
		{{^returnContainer}}
		{{#vendorExtensions.x-codegen-response.isPrimitiveType}}
		{{operationId}}ServerResult = {{vendorExtensions.x-codegen-response.defaultValue}};
		{{/vendorExtensions.x-codegen-response.isPrimitiveType}}
		{{^vendorExtensions.x-codegen-response.isPrimitiveType}}
		{{#vendorExtensions.x-codegen-response.isString}}
		{{operationId}}ServerResult = TEXT("");
		{{/vendorExtensions.x-codegen-response.isString}}
		{{^vendorExtensions.x-codegen-response.isString}}
		{{operationId}}ServerResult = MakeShareable(new {{{returnBaseType}}}());
		{{/vendorExtensions.x-codegen-response.isString}}
		{{/vendorExtensions.x-codegen-response.isPrimitiveType}}
		{{/returnContainer}}
		{{/returnType}}

		{{/operation}}
	}

	{{classname}}::~{{classname}}()
	{
	}

	{{#operation}}
	void {{classname}}::{{operationId}}({{#allParams}}{{{dataType}}} {{paramName}}{{^required}}{{/required}}, {{/allParams}}{{operationId}}CallbackFunction Callback)
	{
		{{#allParams}}{{#required}}{{^isPrimitiveType}}{{^isContainer}}
		if ({{paramName}}.IsValid())
		{
			KnetikCloudLogger::LogError(400, "Missing required parameter '{{paramName}}' when calling {{classname}}->{{operationId}}");
			return;
		}
		
		{{/isContainer}}{{/isPrimitiveType}}{{/required}}{{/allParams}}
		FString Path("{{{path}}}");
		TArray<FString> AuthTypes;
		TMap<FString, FString> QueryParams;
		TMap<FString, FString> FormParams;
		FString JsonBody("");

		{{#pathParams}}
		FString {{{paramName}}}Replacement("{");
		{{{paramName}}}Replacement.Append("{{baseName}}");
		{{{paramName}}}Replacement.Append("}");
		Path = Path.Replace(*{{{paramName}}}Replacement, *KnetikCloudClient::ConvertParameterToContentString({{{paramName}}}));
		{{/pathParams}}
		
		b{{operationId}}IsComplete = false;
		b{{operationId}}WasSuccessful = false;
		{{operationId}}Callback = Callback;

        {{#allParams}}
        {{^isBodyParam}}
        {{^isPathParam}}
		{{#isQueryParam}}
		{{#isPrimitiveType}}
		{{#isString}}
		if ({{paramName}}.Len() > 0)
		{
			QueryParams.Add("{{baseName}}", KnetikCloudClient::ConvertParameterToContentString({{paramName}}));
		}
		{{/isString}}
		{{^isString}}
		QueryParams.Add("{{baseName}}", KnetikCloudClient::ConvertParameterToContentString({{paramName}}));
		{{/isString}}
		{{/isPrimitiveType}}
		{{^isPrimitiveType}}
		if ({{paramName}} != nullptr)
        {
            QueryParams.Add("{{baseName}}", KnetikCloudClient::ConvertParameterToContentString({{paramName}}));
		}
		{{/isPrimitiveType}}

		{{/isQueryParam}}
		{{#isFormParam}}
		{{#isPrimitiveType}}
		{{#isString}}
		if ({{paramName}}.Len() > 0)
		{
			FormParams.Add("{{baseName}}", KnetikCloudClient::ConvertParameterToContentString({{paramName}}));
		}
		{{/isString}}
		{{^isString}}
		FormParams.Add("{{baseName}}", KnetikCloudClient::ConvertParameterToContentString({{paramName}}));
		{{/isString}}
		{{/isPrimitiveType}}
		{{^isPrimitiveType}}
		if ({{paramName}} != nullptr)
        {
            FormParams.Add("{{baseName}}", KnetikCloudClient::ConvertParameterToContentString({{paramName}}));
		}
		{{/isPrimitiveType}}

		{{/isFormParam}}
        {{/isPathParam}}
        {{/isBodyParam}}
        {{/allParams}}
		{{#bodyParam}}
		TSharedPtr<FJsonObject> JsonObject = MakeShareable(new FJsonObject());
		{{#isPrimitiveType}}
		KnetikCloudJson::AddParameterToJsonObject<{{{baseType}}}>(JsonObject, "{{baseName}}", {{paramName}});
		JsonBody = KnetikCloudJson::ConvertJsonObjectToString(JsonObject);
		{{/isPrimitiveType}}
		{{^isPrimitiveType}}
		{{#isListContainer}}
		TArray <TSharedPtr<FJsonValue>> JsonValueArray;
		for (auto& Item : {{paramName}})
		{
			TSharedPtr<FJsonValue> ItemJsonValue = KnetikCloudJson::ConvertParameterToJsonValue<{{{vendorExtensions.x-codegen-response.items.dataType}}}>(Item);
			JsonValueArray.Add(ItemJsonValue);
		}
		
		JsonObject->SetArrayField("{{paramName}}", JsonValueArray);
		JsonBody = KnetikCloudJson::ConvertJsonObjectToString(JsonObject);
		{{/isListContainer}}
		{{^isListContainer}}
		KnetikCloudJson::AddParameterToJsonObject<{{{baseType}}}>(JsonObject, "{{baseName}}", {{paramName}});
		JsonBody = KnetikCloudJson::ConvertJsonObjectToString(JsonObject);

		{{/isListContainer}}
		{{/isPrimitiveType}}
		{{/bodyParam}}
        {{#authMethods}}
		AuthTypes.Add("{{name}}");
        {{/authMethods}}

		TSharedRef<IHttpRequest> Request = KnetikCloudClient::DefaultClient->CreateRequest();
		Request->OnProcessRequestComplete().BindRaw(this, &{{classname}}::{{operationId}}OnResponseReceived);

		KnetikCloudLogger::LogInfo("{{operationId}}: Sending server request...");

		KnetikCloudClient::DefaultClient->CallApi(
			Path, 			
			"{{httpMethod}}",
			AuthTypes,
			QueryParams,
			FormParams,
			JsonBody,
			Request);
	}

	bool {{classname}}::{{operationId}}IsComplete() const
	{
		return b{{operationId}}IsComplete;
	}

	bool {{classname}}::{{operationId}}WasSuccessful() const
	{
		return b{{operationId}}WasSuccessful;
	}

	void {{classname}}::{{operationId}}OnResponseReceived(FHttpRequestPtr Request, FHttpResponsePtr Response, bool bWasSuccessful)
	{
		b{{operationId}}IsComplete = true;
		b{{operationId}}WasSuccessful = bWasSuccessful;

		if (!Response.IsValid())
		{
			b{{operationId}}WasSuccessful = false;
			KnetikCloudLogger::LogError(0, "{{operationId}}: Unknown error - invalid response!");
		}

		if (Response.IsValid())
		{
			int32 ResponseCode = Response->GetResponseCode();
			if (ResponseCode != KnetikCloud::KnetikCloudConstants::HttpSuccessfulStatusCode)
			{
				b{{operationId}}WasSuccessful = false;
				KnetikCloudLogger::LogError(ResponseCode, "{{operationId}}: Error response received!");
			}
		}

		if (!b{{operationId}}WasSuccessful)
		{
			KnetikCloudLogger::LogError(0, "{{operationId}}: was unsuccessful!");
		}

		{{#returnType}}
		if (Response.IsValid())
		{
			FString ContentString = Response->GetContentAsString();
			KnetikCloudLogger::LogInfo("{{operationId}} content string: " + ContentString);

			TSharedRef<TJsonReader<TCHAR>> JsonReader = TJsonReaderFactory<TCHAR>::Create(ContentString);

			{{#isListContainer}}
			TArray<TSharedPtr<FJsonValue>> JsonValueArray;
			if (FJsonSerializer::Deserialize(JsonReader, JsonValueArray))
			{
				for (auto& ItemJson : JsonValueArray)
				{
					if (ItemJson.IsValid())
					{
						{{{vendorExtensions.x-codegen-response.items.datatype}}} Item({{{vendorExtensions.x-codegen-response.items.defaultValue}}});
						KnetikCloudJson::ConvertJsonValueToParameter<{{{vendorExtensions.x-codegen-response.items.datatype}}}>(ItemJson, Item);
						{{operationId}}ServerResult.Add(Item);
					}
					else
					{
						b{{operationId}}WasSuccessful = false;
						KnetikCloudLogger::LogInfo("{{operationId}}: Unable to parse the content string: " + ContentString);
						break;
					}
				}
			}
			{{/isListContainer}}
			{{^isListContainer}}
			{{#isMapContainer}}
			TSharedPtr<FJsonObject> JsonObject;
			if (FJsonSerializer::Deserialize(JsonReader, JsonObject))
			{
				for (auto& KeyValuePair : JsonObject->Values)
				{
					{{{vendorExtensions.x-codegen-response.items.datatype}}} Item({{{vendorExtensions.x-codegen-response.items.defaultValue}}});
					KnetikCloudJson::ConvertJsonValueToParameter<{{{vendorExtensions.x-codegen-response.items.datatype}}}>(KeyValuePair.Value, Item);
					{{operationId}}ServerResult.Add(Item);
				}
			}
			{{/isMapContainer}}
			{{^isMapContainer}}
			{{#returnTypeIsPrimitive}}
			TSharedPtr<FJsonValue> JsonValue;
			if (FJsonSerializer::Deserialize(JsonReader, JsonValue))
			{
				if (JsonValue.IsValid())
				{
					KnetikCloudJson::ConvertJsonValueToParameter<{{{vendorExtensions.x-codegen-response.baseType}}}>(JsonValue, {{operationId}}ServerResult);
				}
				else
				{
					b{{operationId}}WasSuccessful = false;
					KnetikCloudLogger::LogInfo("{{operationId}}: Unable to parse the content string: " + ContentString);
				}
			}
			{{/returnTypeIsPrimitive}}
			{{^returnTypeIsPrimitive}}
			{{#vendorExtensions.x-codegen-response.isString}}
			TSharedPtr<FJsonValue> JsonValue;
			if (FJsonSerializer::Deserialize(JsonReader, JsonValue))
			{
				if (JsonValue.IsValid())
				{
					KnetikCloudJson::ConvertJsonValueToParameter<{{{vendorExtensions.x-codegen-response.baseType}}}>(JsonValue, {{operationId}}ServerResult);
				}
				else
				{
					b{{operationId}}WasSuccessful = false;
					KnetikCloudLogger::LogInfo("{{operationId}}: Unable to parse the content string: " + ContentString);
				}
			}
			{{/vendorExtensions.x-codegen-response.isString}}
			{{^vendorExtensions.x-codegen-response.isString}}
			TSharedPtr<FJsonObject> JsonObject;
			if (FJsonSerializer::Deserialize(JsonReader, JsonObject))
			{
				if (JsonObject.IsValid())
				{
					KnetikCloudJson::ConvertJsonObjectToParameter<{{{vendorExtensions.x-codegen-response.baseType}}}>(JsonObject, {{operationId}}ServerResult);
				}
				else
				{
					b{{operationId}}WasSuccessful = false;
					KnetikCloudLogger::LogInfo("{{operationId}}: Unable to parse the content string: " + ContentString);
				}
			}
			{{/vendorExtensions.x-codegen-response.isString}}
			{{/returnTypeIsPrimitive}}
			{{/isMapContainer}}
			{{/isListContainer}}

			if (b{{operationId}}WasSuccessful)
			{
				KnetikCloudLogger::LogInfo("{{operationId}}: Received response successfully.");
			}
		}
		{{/returnType}}

		{{#returnType}}
		{{#returnContainer}}
		{{operationId}}Callback(b{{operationId}}WasSuccessful, {{operationId}}ServerResult);
		{{/returnContainer}}
		{{^returnContainer}}
		{{operationId}}Callback(b{{operationId}}WasSuccessful, {{operationId}}ServerResult);
		{{/returnContainer}}
		{{/returnType}}
		{{^returnType}}
		{{operationId}}Callback(b{{operationId}}WasSuccessful);
		{{/returnType}}
	}

	{{/operation}}
}
{{/operations}}
