{{>licenseInfo}}
{{#operations}}/*
 * {{classname}}.h
 *
 * {{description}}
 */

#pragma once

{{^parent}}
#include "KnetikCloudApi.h"
{{/parent}}
{{#imports}}{{{import}}}
{{/imports}}

namespace KnetikCloud
{
	class {{classname}} : public IKnetikCloudApi
	{
	public:
		{{classname}}();
		virtual ~{{classname}}();
		{{#operation}}

		{{#returnType}}
		{{#returnContainer}}
		typedef std::function<void(bool, {{{returnType}}})> {{operationId}}CallbackFunction;
		{{/returnContainer}}
		{{^returnContainer}}
		typedef std::function<void(bool, {{{returnType}}})> {{operationId}}CallbackFunction;
		{{/returnContainer}}
		{{/returnType}}
		{{^returnType}}
		typedef std::function<void(bool)> {{operationId}}CallbackFunction;
		{{/returnType}}

		/// <summary>
		/// {{summary}}
		/// </summary>
		/// <remarks>
		/// {{notes}}
		/// </remarks>
		{{#allParams}}
		/// <param name="{{paramName}}">{{description}}{{^required}} (optional{{#defaultValue}}, default to {{.}}{{/defaultValue}}){{/required}}</param>
		{{/allParams}}
		void {{operationId}}({{#allParams}}{{{dataType}}} {{paramName}}{{^required}}{{/required}},{{/allParams}} {{operationId}}CallbackFunction Callback);
		bool {{operationId}}IsComplete() const;
		bool {{operationId}}WasSuccessful() const;
		{{#returnType}}
		{{#returnContainer}}
		{{{returnType}}} {{operationId}}ServerResult;
		{{/returnContainer}}
		{{^returnContainer}}
		{{{returnType}}} {{operationId}}ServerResult;
		{{/returnContainer}}
		{{/returnType}}
		{{/operation}}

		// Callbacks
	private:
		{{#operation}}
		void {{operationId}}OnResponseReceived(FHttpRequestPtr Request, FHttpResponsePtr Response, bool bWasSuccessful);
		{{/operation}}		

		// Data members
	private:
		{{#operation}}

		bool b{{operationId}}IsComplete;
		bool b{{operationId}}WasSuccessful;
		{{operationId}}CallbackFunction {{operationId}}Callback;
		{{/operation}}
	};
}
{{/operations}}
