{{>licenseInfo}}
{{#operations}}/*
 * {{classFilename}}.h
 *
 * {{description}}
 */

#pragma once

{{^parent}}
#include "KnetikCloud.h"
{{/parent}}
{{#operation}}
{{#returnType}}
{{#isMapContainer}}
#include "KnetikCloudStringMap.h"
{{/isMapContainer}}
{{/returnType}}
{{/operation}}
{{#imports}}
{{{import}}}
{{/imports}}
#include <Core.h>
#include <Runtime/Online/HTTP/Public/Http.h>
#include <functional>

#include "{{classFilename}}.generated.h"

{{#operation}}
{{#returnType}}
{{#isListContainer}}
DECLARE_DYNAMIC_MULTICAST_DELEGATE_TwoParams(F{{operationIdCamelCase}}Delegate, bool, bSuccessful, const {{{returnType}}}&, Response);
{{/isListContainer}}
{{^isListContainer}}
{{#isMapContainer}}
DECLARE_DYNAMIC_MULTICAST_DELEGATE_TwoParams(F{{operationIdCamelCase}}Delegate, bool, bSuccessful, const UKnetikCloudStringMap*, Response);
{{/isMapContainer}}
{{^isMapContainer}}
{{#vendorExtensions.x-codegen-response.isPrimitiveType}}
DECLARE_DYNAMIC_MULTICAST_DELEGATE_TwoParams(F{{operationIdCamelCase}}Delegate, bool, bSuccessful, {{{returnBaseType}}}, Response);
{{/vendorExtensions.x-codegen-response.isPrimitiveType}}
{{^vendorExtensions.x-codegen-response.isPrimitiveType}}
{{#vendorExtensions.x-codegen-response.isString}}
DECLARE_DYNAMIC_MULTICAST_DELEGATE_TwoParams(F{{operationIdCamelCase}}Delegate, bool, bSuccessful, const FString&, Response);
{{/vendorExtensions.x-codegen-response.isString}}
{{^vendorExtensions.x-codegen-response.isString}}
DECLARE_DYNAMIC_MULTICAST_DELEGATE_TwoParams(F{{operationIdCamelCase}}Delegate, bool, bSuccessful, const {{{returnBaseType}}}*, Response);
{{/vendorExtensions.x-codegen-response.isString}}
{{/vendorExtensions.x-codegen-response.isPrimitiveType}}
{{/isMapContainer}}
{{/isListContainer}}
{{/returnType}}
{{^returnType}}
DECLARE_DYNAMIC_MULTICAST_DELEGATE_OneParam(F{{operationIdCamelCase}}Delegate, bool, bSuccessful);
{{/returnType}}
{{/operation}}


UCLASS(Blueprintable, ClassGroup="KnetikCloud")
class KNETIKCLOUDSDK_API {{classname}} : public UObject
{
	GENERATED_BODY()

public:
	{{classname}}();
	virtual ~{{classname}}();
	{{#operation}}

	UPROPERTY(BlueprintCallable, BlueprintAssignable, Category = "KnetikCloud")
	F{{operationIdCamelCase}}Delegate On{{operationIdCamelCase}};

	UPROPERTY(BlueprintReadOnly)
	bool b{{operationIdCamelCase}}IsComplete;

	UPROPERTY(BlueprintReadOnly)
	bool b{{operationIdCamelCase}}WasSuccessful;

	{{#returnType}}
	UPROPERTY(BlueprintReadOnly)
	{{#isListContainer}}
	{{{returnType}}} {{operationIdCamelCase}}ServerResponse;

	/// <summary>
	/// {{operationIdCamelCase}} callback that will be invoked when the server response is received.
	/// </summary>
	typedef std::function<void(bool, const {{{returnType}}}&)> {{operationIdCamelCase}}CallbackFunction;
	{{/isListContainer}}
	{{^isListContainer}}
	{{#isMapContainer}}
	UKnetikCloudStringMap* {{operationIdCamelCase}}ServerResponse;

	/// <summary>
	/// {{operationIdCamelCase}} callback that will be invoked when the server response is received.
	/// </summary>
	typedef std::function<void(bool, const UKnetikCloudStringMap *)> {{operationIdCamelCase}}CallbackFunction;
	{{/isMapContainer}}
	{{^isMapContainer}}
	{{#vendorExtensions.x-codegen-response.isPrimitiveType}}
	{{{returnType}}} {{operationIdCamelCase}}ServerResponse;

	/// <summary>
	/// {{operationIdCamelCase}} callback that will be invoked when the server response is received.
	/// </summary>
	typedef std::function<void(bool, {{{returnType}}})> {{operationIdCamelCase}}CallbackFunction;
	{{/vendorExtensions.x-codegen-response.isPrimitiveType}}
	{{^vendorExtensions.x-codegen-response.isPrimitiveType}}
	{{#vendorExtensions.x-codegen-response.isString}}
	FString {{operationIdCamelCase}}ServerResponse;

	/// <summary>
	/// {{operationIdCamelCase}} callback that will be invoked when the server response is received.
	/// </summary>
	typedef std::function<void(bool, const FString&)> {{operationIdCamelCase}}CallbackFunction;
	{{/vendorExtensions.x-codegen-response.isString}}
	{{^vendorExtensions.x-codegen-response.isString}}
	{{{returnType}}} {{operationIdCamelCase}}ServerResponse;

	/// <summary>
	/// {{operationIdCamelCase}} callback that will be invoked when the server response is received.
	/// </summary>
	typedef std::function<void(bool, const {{{returnBaseType}}}*)> {{operationIdCamelCase}}CallbackFunction;
	{{/vendorExtensions.x-codegen-response.isString}}
	{{/vendorExtensions.x-codegen-response.isPrimitiveType}}
	{{/isMapContainer}}
	{{/isListContainer}}
	{{/returnType}}
	{{^returnType}}
	/// <summary>
	/// {{operationIdCamelCase}} callback that will be invoked when the server response is received.
	/// </summary>
	typedef std::function<void(bool)> {{operationIdCamelCase}}CallbackFunction;
	{{/returnType}}
	void Set{{operationIdCamelCase}}Callback({{operationIdCamelCase}}CallbackFunction Callback);
	void Remove{{operationIdCamelCase}}Callback();

	/// <summary>
	/// {{summary}}
	/// </summary>
	{{#allParams}}
	/// <param name="{{paramName}}">{{description}}{{^required}} (optional{{#defaultValue}}, default to {{.}}{{/defaultValue}}){{/required}}</param>
	{{/allParams}}
	UFUNCTION(BlueprintCallable, Category = "KnetikCloud")
	void {{operationIdCamelCase}}({{#allParams}}{{#isContainer}}const {{{dataType}}}& {{paramName}}{{/isContainer}}{{^isContainer}}{{#isString}}const FString& {{paramName}}{{/isString}}{{^isString}}{{#isPrimitiveType}}{{{dataType}}} {{paramName}}{{/isPrimitiveType}}{{^isPrimitiveType}}const {{{dataType}}} {{paramName}}{{/isPrimitiveType}}{{/isString}}{{/isContainer}}{{#hasMore}}, {{/hasMore}}{{/allParams}});
	{{/operation}}

private:
	{{#operation}}
	void {{operationIdCamelCase}}OnResponseReceived(FHttpRequestPtr Request, FHttpResponsePtr Response, bool bWasSuccessful);
	{{operationIdCamelCase}}CallbackFunction {{operationIdCamelCase}}Callback;

	{{/operation}}
};
{{/operations}}
