{{>licenseInfo}}
{{#models}}{{#model}}/*
 * {{classFilename}}.h
 *
 * {{description}}
 */

#pragma once

{{^parent}}
#include "KnetikCloud.h"
{{/parent}}
{{#imports}}{{{this}}}
{{/imports}}
#include <Core.h>
#include <Runtime/Json/Public/Dom/JsonObject.h>
#include "{{classname}}.generated.h"


UCLASS(BlueprintType)
class KNETIKCLOUDSDK_API U{{classname}} : public {{#parent}}U{{{parent}}}{{/parent}}{{^parent}}UObject{{/parent}}
{
	GENERATED_BODY()

public:
	U{{classname}}();
	virtual ~U{{classname}}();

	virtual TSharedPtr<FJsonObject> ToJson() const;
	virtual void FromJson(TSharedPtr<FJsonObject> JsonObject);
	{{#vendorExtensions.x-discriminator-value}}

	static FString GetSubtypeString();
	static U{{{parent}}}* CreateSubtype();
	{{/vendorExtensions.x-discriminator-value}}
	{{#vars}}
	{{^isInherited}}

	/// <summary>
	/// {{description}}
	/// </summary>
	UPROPERTY(BlueprintReadWrite, EditAnywhere)
	{{#isContainer}}
	{{{datatype}}} {{name}};
	{{/isContainer}}
	{{^isContainer}}
	{{#isString}}
	FString {{name}};
	{{/isString}}
	{{^isString}}
	{{#isPrimitiveType}}
	{{{baseType}}} {{name}};
	{{/isPrimitiveType}}
	{{^isPrimitiveType}}
	U{{{baseType}}}* {{name}};
	{{/isPrimitiveType}}
	{{/isString}}
	{{/isContainer}}
	{{/isInherited}}
	{{/vars}}
};
{{/model}}
{{/models}}
