{{>licenseInfo}}

{{#models}}{{#model}}
#include "{{classFilename}}.h"

#include "KnetikCloudConstants.h"
#include "KnetikCloudJson.h"
#include "KnetikCloudLogger.h"
#include "KnetikCloudTypeFactory.h"

#if defined(KNETIK_CLOUD_DEBUG)
#pragma optimize("", off)
#endif // KNETIK_CLOUD_DEBUG


{{classname}}::{{classname}}()
{
	{{#vars}}
	{{^isInherited}}
	{{^isContainer}}
	{{#isString}}
	{{name}} = {{{defaultValue}}};
	{{/isString}}
	{{^isString}}
	{{#isPrimitiveType}}
	{{name}} = {{{defaultValue}}};
	{{/isPrimitiveType}}
	{{^isPrimitiveType}}
	{{name}} = NewObject<{{{baseType}}}>();
	{{/isPrimitiveType}}
	{{/isString}}
	{{/isContainer}}
	{{/isInherited}}
	{{/vars}}
}

{{classname}}::~{{classname}}()
{
}

TSharedPtr<FJsonObject> {{classname}}::ToJson() const
{
	{{#parent}}
	TSharedPtr<FJsonObject> JsonObject(this->{{{parent}}}::ToJson());
	{{/parent}}
	{{^parent}}
	TSharedPtr<FJsonObject> JsonObject(new FJsonObject());
	{{/parent}}
	{{#vars}}
	{{^isInherited}}
	{{#isListContainer}}

	TArray<TSharedPtr<FJsonValue>> {{name}}JsonValueArray;
	{{name}}JsonValueArray.Reserve({{name}}.Num());
	for (auto& CurrentItem : {{name}})
	{
		TSharedPtr<FJsonValue> ItemJsonValue = KnetikCloudJson::ToJsonValue<>(CurrentItem);
		{{name}}JsonValueArray.Add(ItemJsonValue);
	}

	JsonObject->SetArrayField("{{baseName}}", {{name}}JsonValueArray);
	{{/isListContainer}}
	{{^isListContainer}}
	{{#isMapContainer}}

	TSharedPtr<FJsonObject> {{name}}JsonMap = MakeShareable(new FJsonObject());
	for (auto& KeyValuePair : {{name}})
	{
		TSharedPtr<FJsonValue> ItemJsonValue = KnetikCloudJson::ToJsonValue<>(KeyValuePair.Value);
		{{name}}JsonMap->Values.Add(KeyValuePair.Key, ItemJsonValue);
	}

	JsonObject->SetObjectField("{{baseName}}", {{name}}JsonMap);
	{{/isMapContainer}}
	{{^isMapContainer}}
	KnetikCloudJson::AddToJsonObject<>(JsonObject, "{{baseName}}", {{name}});
	{{/isMapContainer}}
	{{/isListContainer}}
	{{/isInherited}}
	{{/vars}}
	return JsonObject;
}

void {{classname}}::FromJson(TSharedPtr<FJsonObject> JsonObject)
{
	{{#parent}}
	this->{{{parent}}}::FromJson(JsonObject);
	{{/parent}}
	{{#vars}}
	{{^isInherited}}
	{{#isListContainer}}
	{{name}}.Empty();
	const TArray<TSharedPtr<FJsonValue>>* {{name}}JsonValueArray = nullptr;
	if (JsonObject->TryGetArrayField("{{baseName}}", {{name}}JsonValueArray))
	{
		for (auto& ItemJsonValue : *{{name}}JsonValueArray)
		{
			{{#items.isString}}
			FString CurrentItem;
			KnetikCloudJson::FromJsonValue<{{{items.baseType}}}>(ItemJsonValue, CurrentItem);
			{{/items.isString}}
			{{^items.isString}}
			{{#items.isPrimitiveType}}
			{{{items.datatype}}} CurrentItem;
			KnetikCloudJson::FromJsonValue<{{{items.baseType}}}>(ItemJsonValue, CurrentItem);
			{{/items.isPrimitiveType}}
			{{^items.isPrimitiveType}}
			{{{items.datatype}}} CurrentItem = KnetikCloudJson::UObjectFromJsonValue<{{{items.baseType}}}>(ItemJsonValue);
			{{/items.isPrimitiveType}}
			{{/items.isString}}
			{{name}}.Add(CurrentItem);
		}
	}

	{{/isListContainer}}
	{{^isListContainer}}
	{{#isMapContainer}}

	{{name}}.Empty();
	const TSharedPtr<FJsonObject>* {{name}}JsonObject = nullptr;
	if (JsonObject->TryGetObjectField("{{baseName}}", {{name}}JsonObject))
	{
		TMap<FString, TSharedPtr<FJsonValue>> {{name}}JsonValuesMap = (*{{name}}JsonObject)->Values;
		for (auto& KeyValuePair : {{name}}JsonValuesMap)
		{
			{{#items.isString}}
			FString CurrentItem;
			KnetikCloudJson::FromJsonValue<{{{items.baseType}}}>(KeyValuePair.Value, CurrentItem);
			{{/items.isString}}
			{{^items.isString}}
			{{#items.isPrimitiveType}}
			{{{items.datatype}}} CurrentItem;
			KnetikCloudJson::FromJsonValue<{{{items.baseType}}}>(KeyValuePair.Value, CurrentItem);
			{{/items.isPrimitiveType}}
			{{^items.isPrimitiveType}}
			{{{items.datatype}}} CurrentItem = KnetikCloudJson::UObjectFromJsonValue<{{{items.baseType}}}>(KeyValuePair.Value);
			{{/items.isPrimitiveType}}
			{{/items.isString}}
			{{name}}.Add(KeyValuePair.Key, CurrentItem);
		}
	}

	{{/isMapContainer}}
	{{^isMapContainer}}
	KnetikCloudJson::GetFromJsonObject<{{{baseType}}}>(JsonObject, "{{baseName}}", {{name}});
	{{/isMapContainer}}
	{{/isListContainer}}

	{{/isInherited}}
	{{/vars}}
}
{{#vendorExtensions.x-discriminator-value}}

FString {{classname}}::GetSubtypeString()
{
	return "{{vendorExtensions.x-discriminator-value}}";
}

{{{parent}}}* {{classname}}::CreateSubtype()
{
	return NewObject<{{classname}}>();
}
{{/vendorExtensions.x-discriminator-value}}
{{/model}}
{{/models}}
