using System.Collections.Generic;
using KnetikUnity.Client;
using RestSharp;

namespace {{packageName}}.Client
{
    /// <inheritdoc />
    /// <summary>
    /// The client that is responsible for making HTTP calls to the backend.
    /// </summary>
    public class SplytAnalyticsClient : KnetikClientBase
    {
        private const string APIUrl = "https://api.knetik.io/";
 
        protected override void UpdateParamsForAuth(Dictionary<string, string> queryParams, Dictionary<string, string> headerParams, List<string> authSettings)
        {
            // DO NOTHING
        }
 
        protected override void Awake()
        {
            mRestClient = new RestClient(APIUrl);
            base.Awake();
        }
    }
}
