{{>licenseInfo}}

package {{invokerPackage}}.auth;

import {{invokerPackage}}.ApiException;

{{>generatedAnnotation}}
public interface OAuthExpirationHandler {
  
  void handle(OAuth oAuth) throws ApiException;
  
}
